%h1 Welcome

%p Use the links above to navigate.  You can view and modify Units without logging in, however all access to failure reports requires authentication.

%p Use the following credentials for further access.
%dl
  %dt Email
  %dd demo@example.com
  %dt Password
  %dd demopass

.alert.alert-success
  %h4 Notice
  %p This site is for demonstration purposes only.
  %p All source code is available at <a href="https://github.com/jtgeibel/rails-4-demo">https://github.com/jtgeibel/rails-4-demo</a>.
  %p The source code commit history is available at <a href="https://github.com/jtgeibel/rails-4-demo/commits/master">https://github.com/jtgeibel/rails-4-demo/commits/master</a>.
