.alert.alert-info
  %button.close{:type => "button", :"data-dismiss" => "alert"} &times;
  %h4 For demonstration only
  %dl
    %dt Source code
    %dd <a href="https://github.com/jtgeibel/rails-4-demo">https://github.com/jtgeibel/rails-4-demo</a>
    %dt Commit history
    %dd <a href="https://github.com/jtgeibel/rails-4-demo/commits/master">https://github.com/jtgeibel/rails-4-demo/commits/master</a>

%h1 Welcome

%p Use the links above to navigate.  In order to modify anything you will need to login.

%p Use the following credentials for further access.
%dl.dl-horizontal
  %dt Email
  %dd demo@example.com
  %dt Password
  %dd demopass
